In [250]:
import pandas as pd
import pandapower as pp
from pandapower.plotting.plotly import simple_plotly

# creating network
net = pp.create_empty_network()

In [251]:
# summer scenario  --- we are running this scenario below
  # date = 9 Aug 2019 @ 13:31
  # max demand = 1303 MW

# NOTE: we are using the biggest lines available (Condor), run code, then move to smaller lines if loading percent is

In [252]:
V_l_kv = 132
V_h_kv = 220

#create buses

b0   = pp.create_bus(net, vn_kv = V_l_kv, name = "Bus 0: Ibiza (+ Formentura)", geodata = ((1.430833, 38.91917)))
b1_l = pp.create_bus(net, vn_kv = V_l_kv, name = "Bus 1_l: Santa Ponca (132)", geodata = ((2.506454, 39.53525)))
b1_h = pp.create_bus(net, vn_kv = V_h_kv, name = "Bus 1_h: Santa Ponca (220)", geodata = ((2.506454, 39.53525)))
b2   = pp.create_bus(net, vn_kv = V_h_kv, name = "Bus 2: Valldurgent", geodata = ((2.549167, 39.58417)))
b3   = pp.create_bus(net, vn_kv = V_h_kv, name = "Bus 3: Son Reus", geodata = ((2.678889, 39.65083)))
b4_h = pp.create_bus(net, vn_kv = V_h_kv, name = "Bus 4_h: Portol (Cas Tresorer) (220)", geodata = ((2.724617, 39.56686)))
b4_l = pp.create_bus(net, vn_kv = 66    , name = "Bus 4_l: Portol (Cas Tresorer) (66)", geodata = ((2.724617, 39.56686)))
b5   = pp.create_bus(net, vn_kv = V_h_kv, name = "Bus 5: Son Orlandis", geodata = ((2.744444, 39.60028)))
b6   = pp.create_bus(net, vn_kv = V_h_kv, name = "Bus 6: Llubi", geodata = ((3.039444, 39.67333)))
b7   = pp.create_bus(net, vn_kv = V_h_kv, name = "Bus 7: Murterar", geodata = ((3.0925, 39.80944)))
b8_h = pp.create_bus(net, vn_kv = V_h_kv, name = "Bus 8_h: Es Bessons (220)", geodata = ((3.158056, 39.58194)))
b8_l = pp.create_bus(net, vn_kv = V_l_kv, name = "Bus 8_l: Es Bessons (132)", geodata = ((3.159683, 39.58209)))
b9   = pp.create_bus(net, vn_kv = V_l_kv, name = "Bus 9: Cala Mesquida", geodata = ((3.427024, 39.73827)))
b10  = pp.create_bus(net, vn_kv = V_l_kv, name = "Bus 10: Cala en Bosch", geodata = ((3.834227, 39.93175)))
b11  = pp.create_bus(net, vn_kv = V_l_kv, name = "Bus 11: Cuitadella", geodata = ((3.855278, 40.00333)))
b12  = pp.create_bus(net, vn_kv = V_l_kv, name = "Bus 12: Es Mercadal", geodata = ((4.095556, 39.97694)))
b13  = pp.create_bus(net, vn_kv = V_l_kv, name = "Bus 13: Dragonera", geodata = ((4.236667, 39.89111)))
b14  = pp.create_bus(net, vn_kv = V_l_kv, name = "Bus 14: Mao", geodata = ((4.258155, 39.89706)))

net.bus

                                    name  vn_kv type  zone  in_service
0            Bus 0: Ibiza (+ Formentura)  132.0    b  None        True
1             Bus 1_l: Santa Ponca (132)  132.0    b  None        True
2             Bus 1_h: Santa Ponca (220)  220.0    b  None        True
3                     Bus 2: Valldurgent  220.0    b  None        True
4                        Bus 3: Son Reus  220.0    b  None        True
5   Bus 4_h: Portol (Cas Tresorer) (220)  220.0    b  None        True
6    Bus 4_l: Portol (Cas Tresorer) (66)   66.0    b  None        True
7                    Bus 5: Son Orlandis  220.0    b  None        True
8                           Bus 6: Llubi  220.0    b  None        True
9                        Bus 7: Murterar  220.0    b  None        True
10             Bus 8_h: Es Bessons (220)  220.0    b  None        True
11             Bus 8_l: Es Bessons (132)  132.0    b  None        True
12                  Bus 9: Cala Mesquida  132.0    b  None        True
13                 Bus 10: Cala en Bosch  132.0    b  None        True
14                    Bus 11: Cuitadella  132.0    b  None        True
15                   Bus 12: Es Mercadal  132.0    b  None        True
16                     Bus 13: Dragonera  132.0    b  None        True
17                           Bus 14: Mao  132.0    b  None        True

In [253]:
#create connection point to spain (bus 1)

# bus 1 on mallorca
pp.create_ext_grid(net, bus=b1_l, vm_pu=1.00, name="Slack bus")

0

In [254]:
#create 3 trafos 

#Santa Ponca
pp.create_transformer_from_parameters(net, hv_bus=b1_l, lv_bus=b1_h, sn_mva=320, vn_hv_kv = 132, vn_lv_kv = 220, vk_percent = 12, vkr_percent = 0.26, pfe_kw = 55, i0_percent = 0.06, name='Trafo 0: Santa Ponca')

#Portol (Cas Tresorer)
pp.create_transformer_from_parameters(net, hv_bus=b4_h, lv_bus=b4_l, sn_mva = 285, vn_hv_kv = 220, vn_lv_kv = 66, vk_percent = 12, vkr_percent = 0.26, pfe_kw = 55, i0_percent = 0.06, name='Trafo 1: Portol (Cas Tresorer)')

#Es Bessons
pp.create_transformer_from_parameters(net, hv_bus=b8_h, lv_bus=b8_l, sn_mva = 320, vn_hv_kv = 220, vn_lv_kv = 132, vk_percent = 12, vkr_percent = 0.26, pfe_kw = 55, i0_percent = 0.06, name='Trafo 2: Es Bessons')

#display trafos
net.trafo

,name,std_type,hv_bus,lv_bus,sn_mva,vn_hv_kv,vn_lv_kv,vk_percent,vkr_percent,pfe_kw,...,tap_max,tap_step_percent,tap_step_degree,tap_pos,tap_phase_shifter,parallel,df,in_service,pt_percent,oltc
0,None,None,1,2,320.0,132.0,220.0,12.0,0.26,55.0,...,NaN,NaN,NaN,NaN,False,1,1.0,True,NaN,False
1,None,None,5,6,285.0,220.0,66.0,12.0,0.26,55.0,...,NaN,NaN,NaN,NaN,False,1,1.0,True,NaN,False
2,None,None,10,11,320.0,220.0,132.0,12.0,0.26,55.0,...,NaN,NaN,NaN,NaN,False,1,1.0,True,NaN,False

In [255]:
#create loads
#Considering peak summer demand from REE database
#Loads on buses were distributed according to population size

#Ibiza
pp.create_load(net, bus=b0, p_mw = 175.4295913, q_mvar = 84.96442895)

#Mallorca
pp.create_load(net, bus=b1_l, p_mw = 113.0546255, q_mvar = 54.75485421)
pp.create_load(net, bus=b2  , p_mw = 113.0546255, q_mvar = 54.75485421)
pp.create_load(net, bus=b3  , p_mw = 113.0546255, q_mvar = 54.75485421)
pp.create_load(net, bus=b4_l, p_mw = 113.0546255, q_mvar = 54.75485421)
pp.create_load(net, bus=b5  , p_mw = 113.0546255, q_mvar = 54.75485421)
pp.create_load(net, bus=b6  , p_mw = 113.0546255, q_mvar = 54.75485421)
pp.create_load(net, bus=b7  , p_mw = 113.0546255, q_mvar = 54.75485421)
pp.create_load(net, bus=b8_l, p_mw = 113.0546255, q_mvar = 54.75485421)
pp.create_load(net, bus=b9  , p_mw = 113.0546255, q_mvar = 54.75485421)
pp.create_load(net, bus=b10 , p_mw = 7.675044619, q_mvar = 3.717193766)

#Menorca
pp.create_load(net, bus=b11 , p_mw = 32.71761878, q_mvar = 15.845866)
pp.create_load(net, bus=b12 , p_mw = 22.24118287, q_mvar = 10.77189651)
pp.create_load(net, bus=b13 , p_mw = 15.60446215, q_mvar = 7.557585955)
pp.create_load(net, bus=b14 , p_mw = 31.84047082, q_mvar = 15.42104385)

#display loads
net.load

,name,bus,p_mw,q_mvar,const_z_percent,const_i_percent,sn_mva,scaling,in_service,type
0,None,0,175.429591,84.964429,0.0,0.0,NaN,1.0,True,wye
1,None,1,113.054626,54.754854,0.0,0.0,NaN,1.0,True,wye
2,None,3,113.054626,54.754854,0.0,0.0,NaN,1.0,True,wye
3,None,4,113.054626,54.754854,0.0,0.0,NaN,1.0,True,wye
4,None,6,113.054626,54.754854,0.0,0.0,NaN,1.0,True,wye
5,None,7,113.054626,54.754854,0.0,0.0,NaN,1.0,True,wye
6,None,8,113.054626,54.754854,0.0,0.0,NaN,1.0,True,wye
7,None,9,113.054626,54.754854,0.0,0.0,NaN,1.0,True,wye
8,None,11,113.054626,54.754854,0.0,0.0,NaN,1.0,True,wye
9,None,12,113.054626,54.754854,0.0,0.0,NaN,1.0,True,wye
10,None,13,7.675045,3.717194,0.0,0.0,NaN,1.0,True,wye
11,None,14,32.717619,15.845866,0.0,0.0,NaN,1.0,True,wye
12,None,15,22.241183,10.771897,0.0,0.0,NaN,1.0,True,wye
13,None,16,15.604462,7.557586,0.0,0.0,NaN,1.0,True,wye
14,None,17,31.840471,15.421044,0.0,0.0,NaN,1.0,True,wye

In [256]:
#create generators with solar power at 80%
#reduce existing generation by 85%, and add the remaining required power to solar power generators
#in this peak scenario, we need to instantaneuosly generate 1300 MW 
#The total power generated by the farms add up to 1100 MW

#Ibiza
pp.create_gen(net, bus=b0, sn_mva = 292.00/0.9, p_mw = 43.74, name = "Ibiza Generator (Natural Gas/Diesel)")
pp.create_gen(net, bus=b0, p_mw = 50, name = "Solar 1")
pp.create_gen(net, bus=b0, sn_mva = 14.00/0.9, p_mw = 2.4, name = "Ibiza Generator (Natural Gas)")


#Mallorca 
pp.create_gen(net, bus=b1_h, p_mw = 150, name = "Solar 2")
pp.create_gen(net, bus=b3, sn_mva = 432.80/0.9, p_mw = 60.604, name = "Son Reus (Gas)")
pp.create_gen(net, bus=b4_h, sn_mva = 400.00/0.9, p_mw = 56.01, name = "Cas Tresorer (Gas)")
pp.create_gen(net, bus=b4_h, p_mw = 375, name = "Solar 3")
pp.create_gen(net, bus=b5, p_mw = 375, name = "Solar 4")
pp.create_gen(net, bus=b7, sn_mva = 527.80/0.9, p_mw = 73.906, name = "Murterar (Coal/Oil) ")



#Menorca
pp.create_gen(net, bus=b11, p_mw = 150, name = "Solar 5 ")
pp.create_gen(net, bus=b14, sn_mva = 245.00/0.9, p_mw = 22.64, name = "Mao (Oil) ")

net.gen

,name,bus,p_mw,vm_pu,sn_mva,min_q_mvar,max_q_mvar,scaling,slack,in_service,type,power_station_trafo
0,Ibiza Generator (Natural Gas/Diesel),0,43.740,1.0,324.444444,NaN,NaN,1.0,False,True,None,NaN
1,Solar 1,0,50.000,1.0,NaN,NaN,NaN,1.0,False,True,None,NaN
2,Ibiza Generator (Natural Gas),0,2.400,1.0,15.555556,NaN,NaN,1.0,False,True,None,NaN
3,Solar 2,2,150.000,1.0,NaN,NaN,NaN,1.0,False,True,None,NaN
4,Son Reus (Gas),4,60.604,1.0,480.888889,NaN,NaN,1.0,False,True,None,NaN
5,Cas Tresorer (Gas),5,56.010,1.0,444.444444,NaN,NaN,1.0,False,True,None,NaN
6,Solar 3,5,375.000,1.0,NaN,NaN,NaN,1.0,False,True,None,NaN
7,Solar 4,7,375.000,1.0,NaN,NaN,NaN,1.0,False,True,None,NaN
8,Murterar (Coal/Oil),9,73.906,1.0,586.444444,NaN,NaN,1.0,False,True,None,NaN
9,Solar 5,14,150.000,1.0,NaN,NaN,NaN,1.0,False,True,None,NaN
10,Mao (Oil),17,22.640,1.0,272.222222,NaN,NaN,1.0,False,True,None,NaN

In [257]:
#create lines

#line 0-1
pp.create_line_from_parameters(net,from_bus=b0, to_bus=b1_l,length_km=126, r_ohm_per_km = 0.053, x_ohm_per_km = 0.11932, c_nf_per_km = 1e-9, max_i_ka=0.545) 

'''
Mallorca Lines Below
'''

#line 1h-2
pp.create_line_from_parameters(net,from_bus=b1_h, to_bus=b2,length_km=5.599701026, r_ohm_per_km = 0.012138333, x_ohm_per_km = 0.321077252, c_nf_per_km = 1e-9, max_i_ka=0.975)

#line 2-3
pp.create_line_from_parameters(net,from_bus=b2, to_bus=b3,length_km=15.0251435, r_ohm_per_km = 0.02427666667, x_ohm_per_km = 0.321077252, c_nf_per_km = 1e-9, max_i_ka=0.975)
pp.create_line_from_parameters(net,from_bus=b2, to_bus=b3,length_km=14.89767194, r_ohm_per_km = 0.02427666667, x_ohm_per_km = 0.321077252, c_nf_per_km = 1e-9, max_i_ka=0.975)

#line3-5
pp.create_line_from_parameters(net,from_bus=b3, to_bus=b5,length_km=9.417887811, r_ohm_per_km = 0.02427666667, x_ohm_per_km = 0.321077252, c_nf_per_km = 1e-9, max_i_ka=0.975)

#line3-6 
pp.create_line_from_parameters(net,from_bus=b3, to_bus=b6,length_km=33.83044957, r_ohm_per_km = 0.02427666667, x_ohm_per_km = 0.321077252, c_nf_per_km = 1e-9, max_i_ka=0.975)

#line5-4
pp.create_line_from_parameters(net,from_bus=b5, to_bus=b4_h,length_km=4.357733029, r_ohm_per_km = 0.02427666667, x_ohm_per_km = 0.321077252, c_nf_per_km = 1e-9, max_i_ka=0.975)

#line5-6
pp.create_line_from_parameters(net,from_bus=b5, to_bus=b6,length_km=28.90620588, r_ohm_per_km = 0.02427666667, x_ohm_per_km = 0.321077252, c_nf_per_km = 1e-9, max_i_ka=0.975)

#lines6-7
pp.create_line_from_parameters(net,from_bus=b6, to_bus=b7,length_km=16.77022419, r_ohm_per_km = 0.02427666667, x_ohm_per_km = 0.321077252, c_nf_per_km = 1e-9, max_i_ka=0.975)
pp.create_line_from_parameters(net,from_bus=b6, to_bus=b7,length_km=16.06356958, r_ohm_per_km = 0.02427666667, x_ohm_per_km = 0.321077252, c_nf_per_km = 1e-9, max_i_ka=0.975)

#lines 6-8_h
pp.create_line_from_parameters(net,from_bus=b6, to_bus=b8_h,length_km=15.17717666, r_ohm_per_km = 0.02427666667, x_ohm_per_km = 0.321077252, c_nf_per_km = 1e-9, max_i_ka=0.975)
pp.create_line_from_parameters(net,from_bus=b6, to_bus=b8_h,length_km=14.95413245, r_ohm_per_km = 0.02427666667, x_ohm_per_km = 0.321077252, c_nf_per_km = 1e-9, max_i_ka=0.975)

#lines 8l-9
pp.create_line_from_parameters(net,from_bus=b8_l, to_bus=b9,length_km=30.27638553, r_ohm_per_km = 0.02427666667, x_ohm_per_km = 0.306698712, c_nf_per_km = 1e-9, max_i_ka=0.975)

'''
Menorca Lines Below
'''

#lines 9-10
pp.create_line_from_parameters(net,from_bus=b9, to_bus=b10,length_km=52.942, r_ohm_per_km = 0.053, x_ohm_per_km = 0.119358, c_nf_per_km = 1e-9, max_i_ka=0.545)

#lines 10-11
pp.create_line_from_parameters(net,from_bus=b10, to_bus=b11,length_km=8.201424711, r_ohm_per_km = 0.024276667, x_ohm_per_km = 0.306698712, c_nf_per_km = 1e-9, max_i_ka=0.975)

#lines 11-13
pp.create_line_from_parameters(net,from_bus=b11, to_bus=b13,length_km=35.54556277, r_ohm_per_km = 0.024276667, x_ohm_per_km = 0.306698712, c_nf_per_km = 1e-9, max_i_ka=0.975)

#lines 11-12
pp.create_line_from_parameters(net,from_bus=b11, to_bus=b12,length_km=21.13216069, r_ohm_per_km = 0.024276667, x_ohm_per_km = 0.306698712, c_nf_per_km = 1e-9, max_i_ka=0.975)

#lines 12-13
pp.create_line_from_parameters(net,from_bus=b12, to_bus=b13,length_km=15.43937444, r_ohm_per_km = 0.024276667, x_ohm_per_km = 0.306698712, c_nf_per_km = 1e-9, max_i_ka=0.975)

#lines 13-14
pp.create_line_from_parameters(net,from_bus=b13, to_bus=b14,length_km=4.712656534, r_ohm_per_km = 0.024276667, x_ohm_per_km = 0.306698712, c_nf_per_km = 1e-9, max_i_ka=0.975)

net.line

,name,std_type,from_bus,to_bus,length_km,r_ohm_per_km,x_ohm_per_km,c_nf_per_km,g_us_per_km,max_i_ka,df,parallel,type,in_service
0,None,None,0,1,126.000000,0.053000,0.119320,1.000000e-09,0.0,0.545,1.0,1,None,True
1,None,None,2,3,5.599701,0.012138,0.321077,1.000000e-09,0.0,0.975,1.0,1,None,True
2,None,None,3,4,15.025144,0.024277,0.321077,1.000000e-09,0.0,0.975,1.0,1,None,True
3,None,None,3,4,14.897672,0.024277,0.321077,1.000000e-09,0.0,0.975,1.0,1,None,True
4,None,None,4,7,9.417888,0.024277,0.321077,1.000000e-09,0.0,0.975,1.0,1,None,True
5,None,None,4,8,33.830450,0.024277,0.321077,1.000000e-09,0.0,0.975,1.0,1,None,True
6,None,None,7,5,4.357733,0.024277,0.321077,1.000000e-09,0.0,0.975,1.0,1,None,True
7,None,None,7,8,28.906206,0.024277,0.321077,1.000000e-09,0.0,0.975,1.0,1,None,True
8,None,None,8,9,16.770224,0.024277,0.321077,1.000000e-09,0.0,0.975,1.0,1,None,True
9,None,None,8,9,16.063570,0.024277,0.321077,1.000000e-09,0.0,0.975,1.0,1,None,True
10,None,None,8,10,15.177177,0.024277,0.321077,1.000000e-09,0.0,0.975,1.0,1,None,True
11,None,None,8,10,14.954132,0.024277,0.321077,1.000000e-09,0.0,0.975,1.0,1,None,True
12,None,None,11,12,30.276386,0.024277,0.306699,1.000000e-09,0.0,0.975,1.0,1,None,True
13,None,None,12,13,52.942000,0.053000,0.119358,1.000000e-09,0.0,0.545,1.0,1,None,True
14,None,None,13,14,8.201425,0.024277,0.306699,1.000000e-09,0.0,0.975,1.0,1,None,True
15,None,None,14,16,35.545563,0.024277,0.306699,1.000000e-09,0.0,0.975,1.0,1,None,True
16,None,None,14,15,21.132161,0.024277,0.306699,1.000000e-09,0.0,0.975,1.0,1,None,True
17,None,None,15,16,15.439374,0.024277,0.306699,1.000000e-09,0.0,0.975,1.0,1,None,True
18,None,None,16,17,4.712657,0.024277,0.306699,1.000000e-09,0.0,0.975,1.0,1,None,True

In [258]:
pp.runpp(net, algorithm='nr')

In [259]:
net.res_line

,p_from_mw,q_from_mvar,p_to_mw,q_to_mvar,pl_mw,ql_mvar,i_from_ka,i_to_ka,i_ka,vm_from_pu,va_from_degree,vm_to_pu,va_to_degree,loading_percent
0,-79.289591,39.262876,82.289944,-32.508121,3.000352,6.754756,0.386992,0.386992,0.386992,1.000000,-4.787658,1.000000,0.000000,71.007757
1,-94.647285,42.762677,94.662433,-42.361977,0.015148,0.400700,0.272560,0.272560,0.272560,1.000000,5.259362,0.998551,5.464547,27.954870
2,-103.416091,-6.170042,103.497213,7.242948,0.081123,1.072907,0.272274,0.272274,0.272274,0.998551,5.464547,1.000000,6.053346,27.925542
3,-104.300968,-6.222836,104.382784,7.304923,0.081817,1.082087,0.274604,0.274604,0.274604,0.998551,5.464547,1.000000,6.053346,28.164486
4,-354.091912,30.741683,354.688659,-22.849250,0.596747,7.892433,0.932746,0.932746,0.932746,1.000000,6.053346,1.000000,7.329297,95.666234
5,93.761289,18.504581,-93.606303,-16.454770,0.154986,2.049811,0.250806,0.250806,0.250806,1.000000,6.053346,0.994472,4.859008,25.723677
6,-317.528166,25.483427,317.749964,-22.549984,0.221798,2.933443,0.835975,0.835975,0.835975,1.000000,7.329297,1.000000,7.858428,85.740988
7,224.784881,16.650550,-224.048258,-6.908152,0.736623,9.742398,0.591523,0.591523,0.591523,1.000000,7.329297,0.994472,4.859008,60.669075
8,19.178138,-50.834064,-19.153031,51.166126,0.025107,0.332063,0.143376,0.143376,0.143376,0.994472,4.859008,1.000000,4.711447,14.705185
9,20.021806,-53.070312,-19.995595,53.416982,0.026212,0.346670,0.149683,0.149683,0.149683,0.994472,4.859008,1.000000,4.711447,15.352083
10,82.087816,35.987838,-82.025978,-35.169983,0.061838,0.817855,0.236525,0.236525,0.236525,0.994472,4.859008,0.990233,4.394074,24.258993
11,83.312174,36.524605,-83.249414,-35.694551,0.062760,0.830054,0.240053,0.240053,0.240053,0.994472,4.859008,0.990233,4.394074,24.620822
12,51.900525,3.577932,-51.777689,-2.026087,0.122836,1.551845,0.236024,0.236024,0.236024,0.964076,0.707702,0.960251,-0.995061,24.207559
13,-61.276937,-52.728767,62.418281,55.299119,1.141345,2.570351,0.368222,0.368222,0.368222,0.960251,-0.995061,0.990545,-0.167882,67.563664
14,-70.093326,-59.016313,70.191107,60.251627,0.097781,1.235314,0.404601,0.404601,0.404601,0.990545,-0.167882,1.000000,0.378418,41.497589
15,19.130590,0.310269,-19.112460,-0.081224,0.018130,0.229045,0.083686,0.083686,0.083686,1.000000,0.378418,0.998930,-0.307256,8.583142
16,27.960684,4.957599,-27.936942,-4.657650,0.023742,0.299948,0.124204,0.124204,0.124204,1.000000,0.378418,0.997385,-0.210676,12.738845
17,5.695759,-6.114246,-5.694249,6.133322,0.001510,0.019076,0.036645,0.036645,0.036645,0.997385,-0.210676,0.998930,-0.307256,3.758421
18,9.202247,-13.609684,-9.200471,13.632121,0.001776,0.022437,0.071934,0.071934,0.071934,0.998930,-0.307256,1.000000,-0.356165,7.377872

In [260]:
net.res_ext_grid

       p_mw     q_mvar
0 -48.76134  38.857544

In [261]:
net.res_trafo

,p_hv_mw,q_hv_mvar,p_lv_mw,q_lv_mvar,pl_mw,ql_mvar,i_hv_ka,i_lv_ka,vm_hv_pu,va_hv_degree,vm_lv_pu,va_lv_degree,loading_percent
0,-244.105909,16.610810,244.647285,6.021009,0.541375,22.631819,1.070156,0.642227,1.000000,0.000000,1.000000,5.259362,76.475426
1,113.260036,61.919792,-113.054626,-54.754854,0.205411,7.164938,0.338750,1.128103,1.000000,7.858428,0.974075,5.086746,45.291568
2,165.275392,70.864534,-164.955150,-58.332787,0.320242,12.531747,0.476578,0.793792,0.990233,4.394074,0.964076,0.707702,56.750214

In [262]:
net.res_bus

       vm_pu  va_degree        p_mw      q_mvar
0   1.000000  -4.787658   79.289591  -39.262876
1   1.000000   0.000000  161.815965   15.897310
2   1.000000   5.259362 -150.000000  -48.783686
3   0.998551   5.464547  113.054625   54.754854
4   1.000000   6.053346   52.450626  -63.794135
5   1.000000   7.858428 -431.010000  -39.369808
6   0.974075   5.086746  113.054626   54.754854
7   1.000000   7.329297 -261.945374  -19.284726
8   0.994472   4.859008  113.054626   54.754854
9   1.000000   4.711447   39.148626 -104.583109
10  0.990233   4.394074    0.000000    0.000000
11  0.964076   0.707702  113.054626   54.754854
12  0.960251  -0.995061  113.054625   54.754854
13  0.990545  -0.167882    7.675045    3.717194
14  1.000000   0.378418 -117.282381  -65.519494
15  0.997385  -0.210676   22.241183   10.771897
16  0.998930  -0.307256   15.604462    7.557586
17  1.000000  -0.356165    9.200471  -13.632121

In [263]:
net.res_gen

       p_mw      q_mvar  va_degree  vm_pu
0    43.740   41.409102  -4.787658    1.0
1    50.000   41.409102  -4.787658    1.0
2     2.400   41.409102  -4.787658    1.0
3   150.000   48.783686   5.259362    1.0
4    60.604  118.548990   6.053346    1.0
5    56.010   19.684904   7.858428    1.0
6   375.000   19.684904   7.858428    1.0
7   375.000   74.039580   7.329297    1.0
8    73.906  159.337963   4.711447    1.0
9   150.000   81.365360   0.378418    1.0
10   22.640   29.053165  -0.356165    1.0